body {
    background-color: #fff;
}
.titulo-sobre {
    background-image: url("../img/slide3.jpg");
    display: flex;
    color: #fafafa;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-size: 100%;
    overflow: hidden;
    padding: 70px 0;
}

.titulo-sobre h1 {
    text-transform: uppercase;
}

.about-text {
    
    margin: 20px;
}

@media screen and (max-width: 599px) {
    .titulo-sobre {
        padding: 120px 0;
    }
}